<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

	link(rel="stylesheet", href="css/main.css")

body

	//- incluimos los modulos de la apliacación
	
	include ../Modulos/header/header
	

	//- incluimos una libreria de icon fonts 
		link(href="https://file.myfontastic.com/ogkJx6oxjPQCofVBgitLD6/icons.css" rel="stylesheet")

	//- incluimos jquery por si se llegara a necesitar		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	
	
	//- incluimos el archivo principal de JS
	script(src="js/main.js")